body{
background-image: linear-gradient(to right ,#50113f,#dfa3d0);
}

p {
 font-size: 50px;
    text-shadow: 1px 1px 1px #d831ae;
    padding-left: 125px ;
    padding-top: 20px;
}

.login-shape {
 background-image: linear-gradient(to right ,#948991,#d831ae);
 border-radius: 25px;
 width: 400px;
 height: 350px;
 margin-left: 550px ;
 margin-top: 200px;
}

.login-shape #mail {
    text-shadow: 1px 1px 1px #d831ae;
    font-size: x-large;
    padding-left:52px;
    padding-right: 60px;
   }

   .login-shape #pass {
    text-shadow: 1px 1px 1px rgb(216, 49, 174);
    font-size: x-large;
    padding-left:50px;
    padding-right: 25px;
   }
   
   .login-shape #mail2 {
     border-radius: 12px;
     height: 25px;
     padding-left:25px;

   }
   .login-shape #pass2 {
    border-radius: 12px;
    height: 25px;padding-left:25px;
  }
  
.login-shape button{
  margin-left: 79px;
  margin-top: 35px;
  height: 50px;
  width: 250px;
  border-radius: 15px;
}
.login-shape button a{
  text-decoration-line: none;
  text-align: center;
  color: black;
   font-size: 25px;
   text-shadow: 1px 1px 1px rgb(216, 49, 174);
}

  


  
  